<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sefakaraoke">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.SefaKaraoke"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".FavorilerActivity" />
        <activity android:name=".KategoriActivity" />
        <activity android:name=".SarkilarActivity" />

        <activity
            android:name=".DetayActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensor" />
    </application>
</manifest>
